server {
    listen 443 ssl;
    server_name {{ inventory_hostname }};
    
    ssl_certificate /etc/ssl/private/ansible-demo.crt;   # Path to your SSL certificate
    ssl_certificate_key /etc/ssl/private/ansible-demo.key;  # Path to your SSL private key

    # SSL configuration options (you can customize these):
    ssl_protocols TLSv1.2 TLSv1.3;
    ssl_prefer_server_ciphers off;
    ssl_ciphers 'ECDHE-RSA-AES128-GCM-SHA256:ECDHE-RSA-AES256-GCM-SHA384';
    ssl_session_timeout 1d;
    ssl_session_cache shared:SSL:50m;
    ssl_stapling on;
    ssl_stapling_verify on;
    add_header Strict-Transport-Security "max-age=31536000; includeSubDomains; preload" always;

    location / {
        root /var/www/html;
        index index.html;
    }
}
